<!DOCTYPE html>
<html lang="fr">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>404 - Page not found - Trigger Happy</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/css/th.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.min.css" type="text/css" media="screen" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0" />
    <meta name="author" content="FoxMaSk">
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
    <!-- script type="text/javascript" src="/static/jquery/jquery.js" ></script-->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js" ></script>
</head>
<body>
    
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar collapsed" data-target=".nav-collapse" data-toggle="collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/" title="Accueil">Trigger Happy</a>
                <div class="nav-collapse collapse">
                        
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </div><!--/.navbar-inner -->
    </div><!--/.navbar -->
    
    <div class="container">
        <div class="row">
        


            <div class="hero-unit">
		<h2>404</h2>
                <p>
                    <strong>Oopps !</strong>
                </p>
                <p>This page does not exist</p>
            </div>

    

        
        
        </div>
    </div><!--/.container-->
    <hr/>
    <footer class="footer">
        
        <div class="container">
            <p>2013 - 2016 - <a href="https://trigger-happy.eu">Trigger Happy</a></p>
        </div>
        
    </footer>
</body>
</html>
