    <div class="container">
        <div class="col-md-5">
            2013-{% now "Y" %} - <a href="https://trigger-happy.eu">Trigger Happy</a>
        </div>
        <div class="col-md-2">
                              <a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangosite80x15.gif" border="0" alt="A Django site." title="A Django site." /></a>
	</div>
        <div class="col-md-5" style="text-align: right;"><a href="https://blog.trigger-happy.eu/">Blog</a> - <a href="/infos/" title="Information sur le service">Informations</a> - <a href="/contactus/" title="Nous Contacter">Contact</a> - <a href="/dev/" title="Informations aux développeurs">Developpers</a></div>
    </div>
