<style>
.trigger-happy-item-desc .lang {margin-left:40px;}
.trigger-happy-item-desc .ui-tabs-hide {display: none;}

.trigger-happy-item-desc .tabs-lang{
  float:left;
  list-style:none;
  margin:0;
  border-right:1px solid #849BB2;
}

.trigger-happy-item-desc .tabs-lang li{margin:0;}

.trigger-happy-item-desc .tabs-lang a{
  position:relative;
  left:1px;
  display: block;
  padding:4px 4px 3px;
  border:1px solid #EFF3F7;
  border-right-color:#849BB2;
  line-height:12px;
  
  opacity:0.6;
  -moz-border-radius:5px 0 0 5px;
  -webkit-border-radius:5px 0 0 5px; 
  border-radius:5px 0 0 5px;
}
.trigger-happy-item-desc .tabs-lang li.ui-state-hover a, .trigger-happy-item-desc .tabs-lang li.ui-state-focus a{
  opacity:1;
}
.trigger-happy-item-desc .tabs-lang li.ui-state-active a{
  border:1px solid #849BB2;
  border-right-color:#EFF3F7;
  opacity:1;
}
</style>
        <div class="jumbotron">
            <h2>Trigger Happy</h2>
                <div class="trigger-happy-item-desc section">
                    <ul class="tabs-lang">
                    <li><a href="#desc_en_1" title="View the english description"><img alt="view the english description"  src="https://trigger-happy.eu/static/images/gb.gif"/></a></li>
                    <li><a href="#desc_fr_1" title="voir la description française"><img alt="voir la description française" src="https://trigger-happy.eu/static/images/fr.gif"/></a></li>
                    </ul>
                    <div id="desc_fr_1" class="desc lang">

                        <p>Tout comme il existe des outils pour produire son blog ou encore son site ou bien son système "cloud", "Trigger Happy" est un outil permettant de prendre le contrôle de ses données avec ce clone opensource de IFTTT, un "pont" entre vos services internet</p>
                       <p> Pour plus de détails je vous invite à poursuivre la lecture <a href="infos/">sur la page d'informations</a>
                    </div>
                    <div id="desc_en_1" class="desc lang">

                        <p>As it exists tools to make his blog or website or even his own cloud system, "Trigger Happy" is a tool that permits to take the control of your data with this opensource clone of IFTTT, a bridge between your internet services</p>

                       <p> For more details I invite you to have a look <a href="infos/">at the information page</a>
                    </div>
                </div>
            </div>
